#createMessage {
    .tr_bg {
        background-color: var(--bgGrey);
    }

    .btn-pay {
        background-color: var(--primaryMain);
        color: white;
    }

    #radio-btn {
        accent-color: var(--primaryMain);
    }
}