.title-payment {
    color: var(--primaryMain);
}

.ms-btn-payment,
.ms-btn-payment-failed {
    color: white;
    border-radius: 30px;
    padding: 1rem;
}

.ms-btn-payment:hover,
.ms-btn-payment-failed:hover {
    cursor: pointer;
}

.ms-btn-payment:hover {
    border-color: var(--darkBlue);
    color: var(--darkBlue);
}

.ms-btn-payment-failed:hover {
    border: none;
    background-color: var(--darkBlue);
    color: white;
}

.ms-btn-payment {
    background-color: var(--darkBlue);
}

.ms-btn-payment-failed {
    border-color: var(--darkBlue);
    color: var(--darkBlue);
}

#card-number,
#cvv,
#expiration-date {
    background: white;
    height: 38px;
    border: 1px solid #CED4DA;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.braintree-hosted-fields-invalid {
    box-shadow: 0 0 4px 1px var(--primaryMain);
}

.braintree-hosted-fields-valid {
    box-shadow: 0 0 4px 1px green;
}