#index {
    height: calc(100vh - var(--header-height));
    background-image: url("/storage/app/public/icons_svg/index.svg");
    object-fit: fill;
    background-position: bottom;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    .index__title {
        padding-top: 2rem;

        p {
            color: var(--darkerGrey);
        }
    }

    .table {
        width: 80%;
        background-color: white;
        border-collapse: collapse;
        margin-top: 4rem;

        td {
            height: 4rem;
            text-align: center;
            vertical-align: middle;
        }

        th {
            background-color: var(--bgGrey);
        }
    }

    .table-sm {
        display: none;
    }

    /* Set percentage-based widths for the table columns */
    table th:nth-child(1),
    table td:nth-child(1) {
        width: 10%;
    }

    table th:nth-child(2),
    table td:nth-child(2) {
        width: 30%;
    }

    table th:nth-child(3),
    table td:nth-child(3) {
        width: 20%;
    }

    table th:nth-child(4),
    table td:nth-child(4) {
        width: 20%;
    }

    table th:nth-child(5),
    table td:nth-child(5),
    table th:nth-child(6),
    table td:nth-child(6) {
        width: 10%;
    }

    /* Use media queries to adjust the styling for different screen sizes */
    @media screen and (max-width: 767px) {
        .table-md {
            font-size: var(--normal-font-size);

            th:nth-child(5) {
                display: none;
            }

            td:nth-child(5) {
                display: none;
            }
        }

        table th:nth-child(5),
        table td:nth-child(5) {
            display: block;
            width: 100%;
        }
    }

    @media screen and (max-width: 540px) {
        .table-md {
            display: none;
        }

        .table-sm {
            display: block;
        }
    }
}