@import '~bootstrap/scss/bootstrap';
@import '~fortawesome/fontawesome-free/css/all.css';
@import '~fontsource/poppins';
@import './layout.scss';
@import './apartments/show.scss';

body {
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}