#index {
    height: calc(100vh - var(--header-height));
    background-image: url(/storage/app/public/icons_svg/index.svg);
    object-fit: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    .col {
        height: auto !important;
    }

    .table {
        width: 100%;
        background-color: white;
        border-collapse: collapse;

        td {
            height: 4rem;
            text-align: center;
            vertical-align: middle;
        }

        th {
            background-color: var(--bgGrey);
        }
    }
}