#login,
#register {
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--bgGrey);

    display: flex;
    align-items: center;
    justify-content: center;

    #icon-img {
        width: 70px;
        height: 70px;
    }

    .card {
        min-width: 500px;
        max-height: 700px;
    }

    .card-text {
        h3 {
            font-weight: var(--font-semi-bold);
            font-size: var(--h3-font-size);
        }

        p {
            color: var(--darkerGrey);
            font-size: var(--small-font-size);
        }
    }

    .card-body {
        .row {
            justify-content: center;
        }
    }

    .bottom-color {
        border-bottom: 1px solid var(--darkBlue);
    }

    a:hover {
        color: var(--primaryMain);
    }

    .btn {
        width: 250px;
        height: 40px;
        background-color: var(--darkBlue);
        color: white;
        transition: background-color 1s ease;
    }

    .btn:hover {
        background-color: var(--primaryMain);
    }

    @media screen and (max-width: 520px) {
        .card {
            min-width: 400px;
        }
    }
}