#messages {
    padding-bottom: 300px;

    .btn-back {
        position: absolute;
        top: 0;
        right: 0;

        a:hover {
            background-color: var(--primaryMain);
        }
    }

    .messages__title {
        padding-top: 2rem;

        h1 {
            font-size: var(--h1-font-size);
            font-weight: var(--font-semi-bold);
            margin-bottom: var(--mb-0-25);
        }

        p {
            color: var(--darkerGrey);
        }

    }

    .table {
        background-color: white;
        border-collapse: collapse;
        margin-top: 4rem;

        td {
            text-align: center;
            vertical-align: middle;
        }

        th {
            background-color: var(--bgGrey);
        }
    }
}